<html>
  <body>
    <section class="user-show">
      <%= render @user %>

      <div>
        <h3>Bio</h3>
        <p><%= @user.bio %></p>
      </div>

      <div>
        <ul class="post-list">
          <% @user.three_most_recent_posts.each do |post| %>
            <li class="post-card">
              <a href="<%= user_post_path(@user, post) %>">
                <div class="post-info">
                  <h4><%= post.title %></h4>
                  <p><%= truncate post.text %></p>
                  Comments:<%= post.comments_counter %>, Likes:<%= post.likes_counter %>
                </div>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
      <%= link_to 'See all posts', user_posts_path(@user), class: "btn" %>
    </section>
  </body>
</html>
