<html>
  <head>
    <title>Posts</title>
  </head>
  <body>
    <section>
      <%= render @user %>

      <div class="posts-index">
        <ul class="post-list">
          <% @posts.each do |post| %>
            <li class="post-card">
              <a href="<%= user_post_path(@user, post) %>">
                <div class="post-info">
                  <h4><%= post.title %></h4>
                  <p><%= truncate post.text %></p>
                  Comments:<%= post.comments_counter %>, Likes:<%= post.likes_counter %>
                </div>
                <% unless post.comments.empty? %>
                  <div class="recent-comments">
                    <ul>
                      <% post.five_most_recent_comments.each do |comment| %>
                        <li>
                          <p><%= comment.author.name %>: <%= comment.text %></p>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
              </a>
            </li>
          <% end %>
        </ul>
        <%= link_to 'New Post', new_user_post_path, class:"btn"  %>

        <div class="pagination">

        </div>
      </div>
    </section>
  </body>
</html>
