<%# posts index %>
<html>
  <head>
    <title>Posts</title>
  </head>
  <body>
    <section>
      <% if @user.photo %>
        <%= image_tag @user.photo, size: "40x40" %>
      <% end %>
      <p><%= @user.name %></p>
      <p>Number of posts: <%= @user.posts_counter %></p>

      <div>
        <h3>Posts</h3>
        <ul>
          <% @user.posts.each do |post| %>
            <li>
              <a href="<%= user_post_path(@user, post) %>">
                <h4><%= post.title %></h4>
                <p><%= post.text %></p>
                Comments:<%= post.comments_counter %>, Likes:<%= post.likes_counter %>
                <div>
                  <ul>
                    <% post.five_most_recent_comments.each do |comment| %>
                      <li>

                        <p><%= comment.author.name %>: <%= comment.text %></p>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </a>

            </li>
          <% end %>
        </ul>
      </div>
      <%= link_to 'See all posts', user_posts_path(@user) %>
    </section>
  </body>
</html>
