<html>
  <body>
    <section>
      <h4><%= @post.title %></h4>
        <p><%= @post.text %></p>
        Comments:<%= @post.comments_counter %>, Likes:<%= @post.likes_counter %>
        <div>
          <ul>
            <% @post.comments.each do |comment| %>
              <li>
                <p><%= comment.author.name %>: <%= comment.text %></p>
              </li>
            <% end %>
          </ul>
        </div>
    </section>
  </body>
</html>
